node-red-flows.json
[{"id":"bbcbdca7.327a8","type":"mqtt in","z":"4d764fa2.88a9d","name":"","topic":"relay/#","qos":"2","broker":"8f2940d6.4bfb2","x":70,"y":40,"wires":[["a00703ad.9c2e1"]]},{"id":"a00703ad.9c2e1","type":"debug","z":"4d764fa2.88a9d","name":"","active":true,"console":"false","complete":"false","x":210,"y":40,"wires":[]},{"id":"1446969c.2cb7e9","type":"inject","z":"4d764fa2.88a9d","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":100,"wires":[["cd8cddf4.196c5"]]},{"id":"cd8cddf4.196c5","type":"function","z":"4d764fa2.88a9d","name":"update file","func":"\nmsg.payload = [\n    {   \n        \"type\"      :   \"upload\",\n        \"name\"      :   \"test.txt\",\n        \"content\"   :   \"test\"\n    }\n];\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":100,"wires":[["80ea3422.728178"]]},{"id":"80ea3422.728178","type":"mqtt out","z":"4d764fa2.88a9d","name":"","topic":"relay/3741948/set","qos":"","retain":"","broker":"8f2940d6.4bfb2","x":410,"y":100,"wires":[]},{"id":"dedd6133.a33f2","type":"fs-file-lister","z":"4d764fa2.88a9d","name":"/home/pastukhov/build/nodemcu/sonoff-relay","start":"/home/pastukhov/build/nodemcu/sonoff-relay","pattern":"*","path":true,"single":false,"depth":"10","stat":false,"x":370,"y":220,"wires":[["c1f7dcdc.f216"]]},{"id":"4e3a67ef.08b528","type":"inject","z":"4d764fa2.88a9d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":220,"wires":[["dedd6133.a33f2"]]},{"id":"7fce93f5.a39efc","type":"debug","z":"4d764fa2.88a9d","name":"","active":false,"console":"false","complete":"false","x":610,"y":380,"wires":[]},{"id":"c1f7dcdc.f216","type":"switch","z":"4d764fa2.88a9d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".git","vt":"str"},{"t":"cont","v":".lua","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":610,"y":220,"wires":[[],["98e40d22.865aa"],[]]},{"id":"f4934e4f.ac2eb","type":"file in","z":"4d764fa2.88a9d","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":250,"y":300,"wires":[["49af8504.8e55cc","f018af0.68ac15"]]},{"id":"98e40d22.865aa","type":"function","z":"4d764fa2.88a9d","name":"","func":"var out = {};\nout.filename = msg.payload;\nreturn out;","outputs":1,"noerr":0,"x":110,"y":300,"wires":[["f4934e4f.ac2eb"]]},{"id":"49af8504.8e55cc","type":"function","z":"4d764fa2.88a9d","name":"","func":"var out = {}\n\nout.payload = [\n    {   \n        \"type\"      :   \"upload\",\n        \"name\"      :   msg.filename.replace(\"/home/pastukhov/build/nodemcu/sonoff-relay/\",\"\"),\n        \"content\"   :   msg.payload\n    }\n];\nreturn out;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["7fce93f5.a39efc","fb050ec0.f8981"]]},{"id":"f018af0.68ac15","type":"debug","z":"4d764fa2.88a9d","name":"","active":false,"console":"false","complete":"filename","x":390,"y":380,"wires":[]},{"id":"f3fcc3d.5adeb4","type":"mqtt out","z":"4d764fa2.88a9d","name":"","topic":"relay/3741948/set","qos":"","retain":"","broker":"8f2940d6.4bfb2","x":850,"y":300,"wires":[]},{"id":"fb050ec0.f8981","type":"delay","z":"4d764fa2.88a9d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":300,"wires":[["f3fcc3d.5adeb4"]]},{"id":"8f2940d6.4bfb2","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
